.wrapper{
  display: grid;
  grid-template-areas:
  "header header header"
  "section section section";
  grid-template-rows: auto;
  grid-template-columns:   1fr;
  grid-gap: 4px;
}
.topnav{
  grid-area: header;
}
.row{
  grid-area: section;
}
